.myButton{
    line-height:27px;
    
    margin-left: auto;
    margin-right: auto; 
    height: 40px;
    border-radius: 20px;
    background-color: $secondary;
    text-align: center;
    color: $white;
    font-size: rem(18px);
    font-family: 'Open Sans Hebrew Bold';
    width: 160px;


    border: none;
    text-shadow: none;
    
    //@include transition(background-color, .3s, ease-in-out);
    
     &:focus {
         outline: none;
     }
     &:hover:not([disabled]) {
         cursor: pointer;

         background-color: $primary;
         
     }
}


button {
    line-height:27px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto; 
    width: 120px;
    height: 40px;
    border-radius: 20px;
    background-color: $primary;
    text-align: center;
    color: $white;
    font-size: rem(18px);
    font-family: 'arial' !important;
    
    &.cancelModalButton, &.addButton{
        width: 90px;
        height: 36px;
        line-height: 23px;
    }

    &.cancelModalButton{
        background-color: $white;
        color: $secondary;
        border: 1px solid $secondary;
    }

    &.addButton{
        background-color: $primary;
        margin-left: 30px;
    }

    border: none;
    text-shadow: none;
    
    //@include transition(background-color, .3s, ease-in-out);
    
    &:focus {
        outline: none;
    }
    &:hover:not([disabled]) {
        cursor: pointer;
        background-color: $secondary;
        &.cancelModalButton{
            color: white;
        }
        
    }

    span.plusSpan{
        margin-left: 10px;
        font-size: rem(35px);  
    }
    span:not(.plusSpan){
        position: relative;
        bottom: 7px;
    }
}

