<section class="main" *ngIf="phones.length > 0">
  <ul class="phone-list">
    <li *ngFor="let phone of phones">
      <app-phone-item
        [phone]="phone"
        (remove)="onRemovePhone($event)"></app-phone-item>
    </li>
  </ul>
</section>