﻿@model University.Models.ViewModels.PersonData

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Person</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Person.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.Type)
        </dd>

        @if (Model.Alumni != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Alumni.GraduationYear)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Alumni.GraduationYear)
            </dd>
        }

        @if (Model.Lecturer != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Lecturer.Subject)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Lecturer.Subject)
            </dd>
        }

        @if (Model.Student != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Student.Faculty)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Student.Faculty)
            </dd>
        }



    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Person.ID, type = Model.Person.Type }) |
    @Html.ActionLink("Back to List", "Index")
</p>
