﻿@model List<University.Models.Entities.Person>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Create New", "Create")

@using (Html.BeginForm())
{
    <p>
        Search For: @Html.TextBox("SearchString") 
        By  : @Html.DropDownList("SearchType", new List<SelectListItem>

                 {
                    new SelectListItem{ Text="First Name", Value = "1" },
                    new SelectListItem{ Text="Last Name", Value = "2" }
                 }) 
        <input class="btn" type="submit" value="Search" />
    </p>
}

@using (Html.BeginForm())
{
    <table class="table">
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Phone Number
            </th>
            <th>
                Email
            </th>
            <th>
                Type
            </th>
            <th></th>
        </tr>

        @if (Model != null && Model.Count() > 0)
        {
            for (int i = 0; i < Model.Count(); i++)
            {
                <tr>

                    <td>
                        <input type="hidden" name="Index" value="@i" />
                        @Html.DisplayFor(e => e[i].FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(e => e[i].LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(e => e[i].PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(e => e[i].Email)
                    </td>
                    <td>
                        @Html.DisplayFor(e => e[i].Type)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = Model[i].ID, type = Model[i].Type }) |
                        @Html.ActionLink("Details", "Details", new { id = Model[i].ID, type = Model[i].Type }) |
                        <a onclick="Delete(@Model.ToList()[i].ID)">Delete</a>

                    </td>
                </tr>
            }

        }

    </table>
}

