<div class="container allFieldsContainer">
 <div class="row">
    <div class="row">
        <table  class="table">
        <thead>
        <tr>
            
          <th *ngFor="let header of schedulerHeaders">{{header}}</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let schedulerRule of schedulerRules">
            
            <td><a class="markup pointer-special" (click)="OpenEditModal(schedulerRule)">{{schedulerRule.Id}}</a></td>
            <td>{{schedulerRule.JobName}}</td>
            <td>{{schedulerRule.GroupName}}</td>
            <td>{{schedulerRule.TriggerName}}</td>
            <td>{{schedulerRule.CronString}}</td>
            <td>{{schedulerRule.RuleId}}</td>
            <td>{{schedulerRule.JobDescription}}</td> 
            <td><a class="markup pointer-special" (click)="removeSchedule(schedulerRule)">X</a></td> 
                           
          </tr>
        </tbody>
        </table>
    </div>
  </div>
</div>
 
 <p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>


<p-dialog header="Update" [(visible)]="visible">
    <form [formGroup]="rulesCreationOrUpdateForm">
  <div class="titleHolder">עדכון פרטים</div>
<div class="container allFieldsContainer">
    <div class="row row-flex  row-small-width">
  <div class="col-md-6 fieldContainer">
    <label >
      מספר תזמון
    </label>
    <input  class="input-border-bottom cursor-invalid" type="number" min="0" formControlName="Id"  readonly>
  </div>
    </div>
    <div class="row row-flex  row-small-width">
  <div class="col-md-6 fieldContainer">
    <label >
      שם עבודה
    </label>
    <input class="input-border-bottom cursor-invalid" type="text" formControlName="JobName"  readonly>
  </div>
    </div>
    <div class="row row-flex  row-small-width">
  <div class=" col-md-6 fieldContainer">
    <label >
      שם קבוצה
    </label>
    <input class="input-border-bottom cursor-invalid" type="text" formControlName="GroupName"  readonly>
  </div>   
    </div>
    <div class="row row-flex  row-small-width">      
  <div class=" col-md-6 fieldContainer">
    <label >
      שם טריגר
    </label>
    <input class="input-border-bottom" type="text" formControlName="TriggerName">
  </div>
    </div>
    <div class="row row-flex  row-small-width">
  <div class=" col-md-6 fieldContainer">
    <label >
      קצב הפעלה
    </label>
    <input class="input-border-bottom" type="time" formControlName="CronString">
  </div>
    </div>
    <div class="row row-flex  row-small-width">
  <div class=" col-md-6 fieldContainer">
    <label >
      תיאור עבודה
    </label>
    <input class="input-border-bottom" type="text" formControlName="JobDescription">
  </div>
    </div>
    <div class="row row-flex  row-small-width">
  <div class=" col-md-6 fieldContainer">
    <label >
      RuleId
    </label>
    <select formControlName="RuleId"  class="input-border-bottom select-center select-small-width" maxlength="10" tabindex="6">
          <option *ngFor="let r of rules" [ngValue]="r.Id" >{{r.Name}}</option>
    </select>
  </div>  
    </div>
  </div>
  <div class="row centerAlign"> 
    <button class="button" (click)="updateModal()">עדכן</button>
    <button class="button" (click)="cancelModal()" >ביטול</button>
  </div>
</form>
</p-dialog>