<section class="phoneapp custom-width">
  <phone-header
    (add)="onAddPhone($event)"
  ></phone-header>
  <app-phone-list
    [phones]="phones"
    (remove)="onRemovePhone($event)"
  ></app-phone-list>
  <phone-footer
    [phones]="phones"
  ></phone-footer>
</section>