@import "../shared/sass/barrel";

header {
    width: 100%;
    height: 72px;
    background-color: $secondary;
    text-align: center;
    line-height: 72px;
    .logo {
        width: 51px;
        height: 24px;
        margin: auto !important;
        padding: 0;
        text-align: center;
        line-height: 72px;
        color: #FFF;
        //text-shadow: 0px 4px 1px #969696;
    }
}