 <div class="titleHolder">טופס משימות</div>
 

<form novalidate [formGroup]="addSchedulerForm">
  
  <div class="container allFieldsContainer">
  <div class="row row-flex  row-small-width"> 
          
          <div class="col-md-6 fieldContainer ">
              <label>שם עבודה</label>
              <input  type="text" formControlName="JobName" class="input-border-bottom" maxlength="20" required="required" tabindex="1" >
          </div>
          <div class="col-md-6 fieldContainer">
              <label>שם קבוצה</label>
              <input type="text"  formControlName="GroupName" class="input-border-bottom" maxlength="20"  required="required" tabindex="2"/>
          </div> 
 
</div>
<div class="row row-flex  row-small-width">
          
          <div class="col-md-6 fieldContainer">
              <label>שם טריגר</label>
              <input type="text"  formControlName="TriggerName" class="input-border-bottom" maxlength="20"  required="required" tabindex="3"/>
          </div>
          <div class="col-md-6 fieldContainer">
              <label>קצב הפעלה</label>
              <input type="time" formControlName="CronString"  class="input-border-bottom" maxlength="20" required="required" tabindex="4"/>
          </div>
</div>
<div class="row row-flex  row-small-width">
          
          <div class="col-md-6 fieldContainer">
              <label>תיאור עבודה</label>
              <input type="text" formControlName="JobDescription"  class="input-border-bottom" maxlength="30" required="required" tabindex="5"/>
          </div>
          <div class="col-md-6 fieldContainer">
              <label>סוג עבודה</label>
              <select formControlName="RuleId"  class="input-border-bottom select-center select-small-width" maxlength="10" required="required" tabindex="6">
                   <option *ngFor="let r of rules" [ngValue]="r.Id" >{{r.Name}}</option>
              </select>
          </div>
</div>
</div>

 <div class="row centerAlign">   
    <button class="button" (click)="addNewSchedule()">הוסף</button>
</div>

</form> 