
<header class="header">

  <input class="new-phone" placeholder="Phone Number" autofocus="" [(ngModel)]="newPhone.number" required>
  <input class="new-phone" placeholder="Customer Name" [(ngModel)]="newPhone.name" required>
  <button type="button" class="custom-button" (click)="addPhone()">Add Phone</button>
</header>