@import "shared/sass/barrel";

.tabs {
    width: 100%;
    height: 50px;
    box-shadow: 0 2px 4px 0 rgba(82,97,115,0.2);
    ul {
        text-align: center;
        li {
            width: 100px;
            height: 50px;
            line-height: 50px;
            text-align: right;
            display: inline-block;
            padding-right: 9px;
            box-sizing: border-box;
            list-style: none;
            font-family: 'Open Sans Hebrew Light';
            font-weight: 400;
            font-size: 16px;
            &:hover {
                border-bottom: 2px solid $primary;
                color: $primary;
                cursor: pointer;
            }
        }
    }
}

.active {
    color: $primary;
    border-bottom: 2px solid $active;
}