<app-header></app-header>
<div  class="tabs">
    <ul>
      <li routerLink="home" routerLinkActive="active">Home</li>
      <li routerLink="scheduler" routerLinkActive="active">Scheduler</li>
      <li routerLink="phoneList" routerLinkActive="active">PhoneApp</li>
    </ul>
</div>

  <div class="container">
    <alert></alert>
    <router-outlet></router-outlet>
  </div>
