
<div class="col-md-6 col-md-offset-3">
    <h1 class="centerAlign">Hello {{currentUser.firstName}}!</h1>
    <h3>All registered users:</h3>
    <ul>
        <li *ngFor="let user of users">
            {{user.username}} ({{user.firstName}} {{user.lastName}})
            - <button (click)="deleteUser(user.id)">Delete</button>
        </li>
    </ul>
    <p><a [routerLink]="['/login']">Logout</a></p>
</div>



<p-tabView>
    <p-tabPanel header="Header 1">
       <app-first-tab></app-first-tab>
    </p-tabPanel>
    <p-tabPanel header="Header 2">
        <app-second-tab></app-second-tab>
    </p-tabPanel>
</p-tabView>



