@import "../../shared/sass/barrel";
@import "../../shared/sass/table";


label {
    float:right;
    clear:right;
    display: inline-block;
    vertical-align: bottom;

    width: 150px !important;
    text-align: right !important;
    font-family: 'Arial';
    font-size: rem(16px);
    color: $black;
}

.fieldContainer{
    height:50px;
    text-align: right !important;
}

.allFieldsContainer{
    direction:rtl;
    margin-top: 70px;
    padding-left: 12%;
    padding-right: 9%;
}

.titleHolder{
    margin-top: 70px;
    text-align: center;
    font-size: rem(26px);
}

input {
    float:right;
    text-align: right;
    width: 175px !important;
    border: none;
    font-family: 'Arial';
    font-size: rem(16px);
    border-bottom: 2px solid $black;
     &:focus {
         outline: none;
     }
}

.ltrInput{
    direction: ltr;
}

[formGroupName=claimStatus]{
    display: inline-block;
}

.centerAlign{
    text-align: center;
}

button:not(.close){
    @extend .myButton;
    width: 116px;
    margin: 50px 0px;


&.newClaimButton{
    width: 165px;
}
&.cancelModalButton, &.addOrUpdateButton{
        width: 90px;
        height: 36px;
        line-height: 23px;
    }

    &.cancelModalButton{
        background-color: $white;
        color: $secondary;
        border: 1px solid $secondary;
    }

    &.addOrUpdateButton{
        background-color: $primary;
        margin-left: 30px;
    }
    &.addOrUpdateButton, &.cancelModalButton{
        font-family:'Open Sans Hebrew Bold' !important;
    }

    span.plusSpan{
        margin-left: 10px;
        font-size: rem(35px);  
    }
        span:not(.plusSpan){
        position: relative;
        bottom: 7px;
    }

    &:hover:not([disabled]) {
         &.addOrUpdateButton{
             background-color: $secondary;
         }
         &.cancelModalButton{
             color: white;
             background-color: $secondary;
         }
     }
}

.modal-dialog{
    width: 417px;
    margin: 0 auto;
    margin-top: 400px;
}

.modal-content{
    border-radius: 25px;
}

.modal-body{
    padding: 30px;
}

.iconHeader{
    font-family:'Open Sans Hebrew Bold';
    font-size: rem(18px);
    background-size: 27px;
}

.formHolder{
    margin-top: 30px;
    label{
        margin-left: 15px;
        font-size: rem(18px);
        font-family: 'Open Sans Hebrew Light';
    }

    input{
        background-color: white;
        &[formControlName=firstName], &[formControlName=lastName]{
            width: 135px;
        }
        &[formControlName=firstName]{
            margin-left: 15px;
        }

        &[formControlName=type]{
            width: 185px;
        }    
    }
}


.updateSuccessful{
    color: $success;
}

.updateFailed{
    color: $error;
}


.claimsNotFound{
    text-align:center;

}


.errorContainer{
    color: $error;
    text-align: center;
}

.fieldContainer{
    height: 40px;
    width: 50%;
}

.select-center{
    text-align-last: right;
    float: right;
}

.row-flex{
   display: flex !important;
}

.select-small-width{
  width: 175px !important;
}

.row-small-width{
   max-width: 800px !important;
   margin: auto !important;
   margin-bottom: 15px !important;
}

.input-right{
    float: left !important;
    clear:both !important;
}

input[type="time"]::-webkit-clear-button {
    display: none;
}

.pointer{
    cursor:default;
    color: #0000EE;
    text-decoration: underline;
    
}

.pointer-special 
{
    cursor: pointer !important;
}

.markup{
    text-decoration: underline;
}

.cursor-invalid{
    cursor:not-allowed;
}

